extends layout

block content
  h1= title
  p Login

  form(method='POST' action='/login')
    label Username:
    input(type="text" name="username")
    label Password:
    input(type="password" name="password")
    input(type="submit" value="Submit")